.caja {
  margin-top: 100px;
text-align: justify;
}

.nosotros {
  background-color: #21b1341c;
  padding-bottom: : 50px;
}

.jumbotron {
  text-align: center;
  background-color: #21b1341c;
  margin-top: 50px;
}

.caja2 {
  margin-bottom: 100px;
}

footer {
  background-color: #21b1341c;
  padding-bottom: 50px;
}

.info {
  margin-bottom: 50px;
}

.abajo {
  margin-bottom: 50px;
}

.navbar-brand {
  height: 20px;
  width: 20px;
}
