.caja {
  margin-top: 100px;
text-align: justify;
}

.blog {
  background-color: #21b1341c;
  padding: 50px;
}

.jumbotron {
  text-align: center;
  background-color: #21b1341c;
}

.caja2 {
  margin-bottom: 100px;
}

footer {
  background-color: #21b1341c;
  padding-bottom: 50px;
}

.info {
  margin-bottom: 50px;
}
